* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #07142b;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.ranking {
    width: 90%;
    max-width: 850px;
}

.ranking h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-size: 45px;
    letter-spacing: 2px;
    animation: title 2s infinite alternate;
}

.card {
    background: #1b2a44;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid gold;
    transition: 0.5s;
    animation: slide 1s ease;
}

.card:hover {
    transform: scale(1.03);
    background: #243756;
}

.left {
    width: 80%;
}

.card span {
    color: gold;
    font-size: 35px;
    font-weight: bold;
}

.card h2 {
    color: white;
    margin: 10px 0;
    font-size: 32px;
}

.card p {
    color: #d6d6d6;
    line-height: 1.5;
    font-size: 17px;
}

.card img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes title {
    from {
        color: white;
    }

    to {
        color: gold;
    }
}

/* RESPONSIVE */

@media(max-width: 700px) {

    .card {
        flex-direction: column;
        text-align: center;
    }

    .left {
        width: 100%;
    }

    .card img {
        margin-top: 20px;
    }

    .ranking h1 {
        font-size: 30px;
    }

    .card h2 {
        font-size: 25px;
    }
}